<html ng-app="myApp">

<head>
    <title>Angular ng-dblclick</title>
    <script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="main.css">
</head>

<body>

    <div ng-controller="MainController as main">

        <button ng-click="main.doClick()">Click</button>
        <button ng-dblclick="main.doDoubleClick()">Double-click</button>
        <button ng-click="main.doClick()" ng-dblclick="main.doDoubleClick()">Click or Double-click</button>

        <hr />

        <p># clicks: {{ main.clickCount }}</p>
        <p># double-clicks: {{ main.doubleClickCount }}</p>
    </div>

</body>

</html>